@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .attempt-protected {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .attempt-protected input,
    .attempt-protected textarea {
        -webkit-user-select: text;
        user-select: text;
    }

    .attempt-protected img {
        -webkit-user-drag: none;
        user-drag: none;
        pointer-events: none;
    }
}
